<div class="container">
	{{#each results}}
	<div class="movie-card">
		{{#if backdrop_path}}
		<section class="movie-card__images" data-bg="https://image.tmdb.org/t/p/w780{{backdrop_path}}">
			<img class="movie-card__images__image" src="https://image.tmdb.org/t/p/w92{{poster_path}}" alt="{{title}}">
		</section>
		{{else}}
			<section class="movie-card__images">
				<img class="movie-card__images__image" src="https://image.tmdb.org/t/p/w92{{poster_path}}" alt="{{title}}">
			</section>
		{{/if}}
		<main class="movie-card__body">
			<h4 class="movie-card__title">{{title}}</h4>
			<p class="movie-card__description">{{plot}}</p>
			<button class="movie-card__favs" type="button" data-id="{{id}}">
				⭐ <span class="movie-card__favs__count">{{favs}}</span>
			</button>
		</main>

		<footer class="movie-card__footer">
    <div class="movie-card__footer__data">
      <p class="movie-card__year">
        <a href="/year/{{year}}">{{year}}</a>
      </p>
      <p class="movie-card__genres">
      {{#each genres}}
				<a href="/genre/{{this}}">{{this}}</a>
			{{/each}}
      </p>
			{{#if vote_average}}
      <p class="movie-card__overalRating"><span>{{vote_average}}<small>/10</small></span></p>
			{{else}}
				<p class="movie-card__overalRating"><span>-<small>/10</small></span></p>
			{{/if}}
    </div>
    <div class="movie-card__footer__viewMore">
      <a href="#">View More</a>
    </div>
  </footer>
	</div>
{{/each}}
</div>

<div class="overlay">
	<div class="modal-movie">
		<div class="img-left">
			<img class="poster" src="" alt="">
			<button type="submit" class="btn-fav btn-success">Add as favorite ⭐</button>
		</div>
		<div class="details-block">
			<div class="favs"></div>
			<h2 class="title"><small class="year"></small></h2>
			<p class="genres"></p>
			<p class="cast"></p>
			<p class="plot"></p>
		</div>
		<span class="close-btn">&times;</span>
	</div>
</div>