<div class="wrapper">
	{{#each results}}
		<div class="movie-card">
			<img class="lazy movie-card__image" src="/img/poster-placeholder.png" data-src="https://res.cloudinary.com/ridjis/image/fetch/c_scale,w_auto,dpr_auto,f_auto,q_auto/https://image.tmdb.org/t/p/w342{{poster_path}}" alt="{{title}}">
			{{!-- <img class="movie-card__image" src="https://image.tmdb.org/t/p/w342{{poster_path}}" alt="{{title}}"> --}}
			<div class="movie-card__container">
				<div class="movie-card__info">
					<div class="movie-card__favs">{{favs}}</div>
					<h4 class="movie-card__title">{{title}} 
						<small><a href="/year/{{year}}">{{year}}</a></small>
					</h4>
					<p class="movie-card__genres">
						{{#each genres}}
							<a href="/genre/{{this}}">{{this}}</a>
						{{/each}}
					</p>
					<p class="movie-card__cast">{{cast}}</p>
					<p class="movie-card__description d-none d-sm-block">{{plot}}</p>
				</div>
				<div class="movie-card__btn-group">
					<button type="button" data-id="{{id}}" class="btn btn-expand btn-primary">
						<svg viewBox="0 0 407.436 407.436"><path d="M203.718 91.567L0 294.621l21.179 21.248 182.539-181.945 182.54 181.945 21.178-21.248z"/></svg>
					</button>
					<button type="submit" data-id="{{id}}" class="btn btn-add2fav btn-success">Add as favorite</button>
				</div>
			</div>
		</div>
	{{/each}}
</div>

<div class="overlay">
	<div class="modal-movie">
		<div class="img-left">
			<img class="poster" src="" alt="">
			<button type="submit" class="btn-fav btn-success">Add as favorite ⭐</button>
		</div>
		<div class="details-block">
			<div class="favs"></div>
			<h2 class="title"><small class="year"></small></h2>
			<p class="genres"></p>
			<p class="cast"></p>
			<p class="plot"></p>
		</div>
		<span class="close-btn">&times;</span>
	</div>
</div>