<div class="jumbotron jt-filter tc pt-3">
	<h1>{{header}}</h1>
	<div class="row">
		<form action="/movies/filter" method="POST" class="form-filter">
			<div class="form-check">
				{{#each genres}}
					<div class="col-xs-6 col-sm-3">
						<label class="genre-title">
							<input class="genre-box" name="{{this}}" type="checkbox">{{this}}
						</label>
					</div>
				{{/each}}
			</div>
			<button class="btn-filter">
				<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 512 512"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg>
			</button>
		</form>
	</div>
</div>

<div class="wrapper">
	{{#each results}}
		<div class="card">
			<img class="lazy card__image" src="/img/poster-placeholder.png" data-src="https://image.tmdb.org/t/p/w342{{poster_path}}" alt="{{title}}">
			{{!-- <img class="card__image" src="https://image.tmdb.org/t/p/w342{{poster_path}}" alt="{{title}}"> --}}
			<div class="card__container">
				<div class="card__info">
					<div class="card__favs">{{favs}}</div>
					<h4 class="card__title">{{title}} 
						<small><a href="/year/{{year}}">{{year}}</a></small>
					</h4>
					<p class="card__genres">
						{{#each genres}}
							<a href="/genre/{{this}}">{{this}}</a>
						{{/each}}
					</p>
					<p class="card__cast">{{cast}}</p>
					<p class="card__description d-none d-sm-block">{{plot}}</p>
				</div>
				<div class="card__btn-group">
					<button type="button" data-id="{{id}}" class="btn btn-expand btn-primary">
						<svg viewBox="0 0 407.436 407.436"><path d="M203.718 91.567L0 294.621l21.179 21.248 182.539-181.945 182.54 181.945 21.178-21.248z"/></svg>
					</button>
					<button type="submit" data-id="{{id}}" class="btn btn-add2fav btn-success">Add as favorite</button>
				</div>
			</div>
		</div>
	{{/each}}
</div>
