<div class="container">
	{{#each results}}
	<div class="card" data-id="{{id}}">
		{{#if backdrop_path}}
		<section class="card__images" data-bg="https://image.tmdb.org/t/p/w780{{backdrop_path}}">
			{{#if poster_path}}
			<img class="card__images__image" src="https://image.tmdb.org/t/p/w92{{poster_path}}" alt="{{title}}">
			{{else}}
			<img class="card__images__image" src="/img/poster-missing.png" alt="{{title}}">
			{{/if}}
		</section>
		{{else}}
		<section class="card__images card__images--missing">
			{{#if poster_path}}
			<img class="card__images__image" src="https://image.tmdb.org/t/p/w92{{poster_path}}" alt="{{title}}">
			{{else}}
			<img class="card__images__image" src="/img/poster-missing.png" alt="{{title}}">
			{{/if}}
		</section>
		{{/if}}
		<main class="card__body">
			<h4 class="card__title">{{title}}</h4>
			<p class="card__description">{{plot}}</p>
			<button class="card__favs" type="button" data-id="{{id}}">⭐</button>
		</main>

		<footer class="card__footer">
			<div class="card__footer__data">
				<p class="card__year">
					<a href="/year/{{year}}">{{year}}</a>
				</p>
				{{!-- <p class="card__genres">
					{{#each genres_min}}
					<a class="xs-hide" href="/genre/{{this}}">{{this}}</a>
					{{/each}}
				</p> --}}
				{{#if vote_average}}
				<p class="card__overalRating"><span>{{vote_average}}<small>/10</small></span></p>
				{{else}}
				<p class="card__overalRating"><span>-<small>/10</small></span></p>
				{{/if}}
			</div>
		</footer>
	</div>
	{{/each}}
</div>